body {
  background-color: antiquewhite;
}

.WrapBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 15px;
}
